button, input[type=submit] {
  border: 0;
  border-radius: 3px;
  background: none;
  padding: 0.25em 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-shadow: 1px 1px rgba(255,255,255,0.1);
  outline: 0;
  margin: 0.25em;
}

button.white {
  color: #000;
  background: color(var(--white));
}

button.red {
  color: #fff;
  background: color(var(--red));
}

button.pink {
  color: #fff;
  background: color(var(--pink));
}

button.purple {
  color: #fff;
  background: color(var(--purple));
}

button.deep-purple {
  color: #fff;
  background: color(var(--deep-purple));
}

button.indigo {
  color: #fff;
  background: color(var(--indigo));
}

button.blue {
  color: #fff;
  background: color(var(--blue));
}

button.light-blue {
  color: #fff;
  background: color(var(--light-blue));
}

button.cyan {
  color: #fff;
  background: color(var(--cyan));
}

button.teal {
  color: #fff;
  background: color(var(--teal));
}

button.green {
  color: #fff;
  background: color(var(--green));
}

button.light-green {
  color: #fff;
  background: color(var(--light-green));
}

button.lime {
  color: #fff;
  background: color(var(--lime));
}

button.yellow {
  color: #000;
  background: color(var(--yellow));
}

button.amber {
  color: #fff;
  background: color(var(--amber));
}

button.orange {
  color: #fff;
  background: color(var(--orange));
}

button.deep-orange {
  color: #fff;
  background: color(var(--deep-orange));
}

button.brown {
  color: #fff;
  background: color(var(--brown));
}

button.grey {
  color: #fff;
  background: color(var(--grey));
}

button.blue-grey {
  color: #fff;
  background: color(var(--blue-grey));
}
