.round-1 { border-radius: 1px; }
.round-2 { border-radius: 2px; }
.round-3 { border-radius: 3px; }
.round-4 { border-radius: 4px; }
.round-5 { border-radius: 5px; }
.round-10 { border-radius: 10px; }
.round { border-radius: 100%; }

.inner-seamless { padding: 0; }
.outer-seamless { margin: 0; }

.card {
  padding: 0.5em;
  margin: 0.5em;
  background: #fff;
}
