@require "papier.styl";

header .logo {
  color: #000;
  text-decoration: none;
}

#grid-system .row {
  color: #fff;
}

#grid-system .demo [class*='col-'] {
  padding: 5em 0.25em 0.25em;
  font-size: 0.75em;
}

.gist .gist-file {
  margin: 0 !important;
}
