@require "config.styl";

.row {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
}

generate-column-classes(columns, prefix) {
  for i in (0..columns) {
    .{prefix}{i} {
      width: ((i/columns)*100)%;
    }
  }
}

generate-column-classes($columns, 'col-');

@media screen and (min-width: 568px) { generate-column-classes($columns, 'col-sm-'); }
@media screen and (min-width: 768px) { generate-column-classes($columns, 'col-md-'); }
@media screen and (min-width: 1024px) { generate-column-classes($columns, 'col-lg-'); }
@media screen and (min-width: 1280px) { generate-column-classes($columns, 'col-xl-'); }

