@require "util.styl";

textarea, input {
  border: 0;
  margin: 0.25em;
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid #ccc;
  @extend .depth-1;
}

[disabled] {
  background: #eee;
  cursor: not-allowed;
}

[readonly] {
  background: #eee;
  color: #000;
}