@require "util.styl";

.pager {
  list-style: none;
  margin-top: 0.5em;
  padding: 0;
  display: inline-block;
  @extend .depth-1;
  &:first-child {
    margin-top: 0;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  li {
    margin: 0;
    padding: 0.5em 0.75em;
    float: left;
    display: inline-block;
    border-right: 1px solid #eee;
    line-height: 1;
    vertical-align: middle;
    transition: all 250ms;
    a {
      text-decoration: none;
      color: #000;
    }
    &.active {
      background: #f2f2f2;
      font-weight: bold;
    }
    &:hover {
      background: #eee;
    }
  }
}

&:last-child {
  margin-bottom: 0;
}


@media screen and (min-width: 568px) {
  .pager {
    margin-top: 1em;
  }
}