@require "config.styl";
@require "util.styl";
@require "card.styl";

.panel {
  @extend .depth-1;
  margin-bottom: 0.5em;
  &:last-child {
    margin-bottom: 0;
  }
  header, main {
    padding: 0.5em;
  }
  header {
    font-weight: bold;
    border-bottom: 1px solid #eee;
    &[class*='bg-'] {
      color: #fff;
    }
    &.bg-white, &.bg-yellow, &.bg-subtle {
      color: #000;
    }
  }
}

@media screen and (min-width: 568px) {
  .panel {
    header, main {
      padding: 0.75em;
    }
  }
}
