@require "config.styl";
@require "util.styl";
@require "card.styl";

.panel {
  @extend .depth-1;
  margin: 0.25em 0;
  &:last-child {
    margin-bottom: 0;
  }
  header, main, .main {
    padding: 0.5em;
  }
  header {
    font-weight: bold;
    border-bottom: 1px solid #eee;
  }
}

@media screen and (min-width: 568px) {
  .panel {
    margin: 0.5em 0;
    header, main, .main {
      padding: 0.75em;
    }
  }
}
