@require "util.styl";

.tabs {
  list-style: none;
  margin: 0.25em 0;
  padding: 0;
  @extend .depth-1;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-transform: uppercase;
  &:last-child {
    margin-bottom: 0;
  }
  &.tabs-justified {
    li {
      text-align: center;
      display: table-cell;
      width: 1%;
    }
  }
  li {
    list-style: none;
    display: inline-block;
    padding: 0.5em;
    margin: 0;
    opacity: 0.5;
    transition: all 100ms;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    &.active, &:hover {
      opacity: 1;
      border-bottom: 2px solid #fff;
    }
    a {
      display: block;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 568px) {
  .tabs {
    margin: 0.5em 0;
    li {
      padding: 1em;
    }
  }
}
