@require "util.styl";

h1, h2, h3, h4, h5, h6, p, blockquote, pre {
  margin: 0.5em 0.25em 0.5em;
  padding: 0;
}

blockquote {
  padding: 0.5em 0.5em 0.5em 1em;
  box-shadow: inset 5px 0px #eee;  
}

pre {
  padding: 0.5em;
  background: #eee;
  @extend .round-1;
}
