/* https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d */
.depth-0 { box-shadow: none; }
.depth-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
.depth-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.depth-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
.depth-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.depth-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }

.round-1 { border-radius: 1px; }
.round-2 { border-radius: 2px; }
.round-3 { border-radius: 3px; }
.round-4 { border-radius: 4px; }
.round-5 { border-radius: 5px; }
.round-10 { border-radius: 10px; }
.round { border-radius: 100%; }

.inner-seamless { padding: 0; }
.outer-seamless { margin: 0; }

.subtle { opacity: 0.5; }
.full-width { width: 100%; }

.uppercase { text-transform: uppercase; }

.window-height {
  height: 100vh;
}

.vertical-center-container {
  display: table;
  width: 100%;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}


@media screen and (min-width: 568px) {
  .s-padding { padding: 0.5em; }
  .m-padding { padding: 1em; }
  .l-padding { padding: 1.5em; }

  .s-margin { margin: 0.5em; }
  .m-margin { margin: 1em; }
  .l-margin { margin: 1.5em; }
}

.s-padding { padding: 0.25em; }
.m-padding { padding: 0.5em; }
.l-padding { padding: 0.75em; }

.s-margin { margin: 0.25em; }
.m-margin { margin: 0.5em; }
.l-margin { margin: 0.75em; }



.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.inline-block { display: inline-block; }

.hidden { display: none; }

.bg-no, .bg-no a { background: none; }
.bg-subtle, .bg-subtle a { background: $subtle; color: #000; }
.bg-white, .bg-white a { background: $white; color: #000; }
.bg-red, .bg-red a { background: $red; color: #fff; }
.bg-pink, .bg-pink a { background: $pink; color: #fff; }
.bg-purple, .bg-purple a { background: $purple; color: #fff; }
.bg-deep-purple, .bg-deep-purple a { background: $deep-purple; color: #fff; }
.bg-indigo, .bg-indigo a { background: $indigo; color: #fff; }
.bg-blue, .bg-blue a { background: $blue; color: #fff; }
.bg-light-blue, .bg-light-blue a { background: $light-blue; color: #fff; }
.bg-cyan, .bg-cyan a { background: $cyan; color: #fff; }
.bg-teal, .bg-teal a { background: $teal; color: #fff; }
.bg-green, .bg-green a { background: $green; color: #fff; }
.bg-light-green, .bg-light-green a { background: $light-green; color: #fff; }
.bg-lime, .bg-lime a { background: $lime; color: #fff; }
.bg-yellow, .bg-yellow a { background: $yellow; color: #fff; }
.bg-amber, .bg-amber a { background: $amber; color: #fff; }
.bg-orange, .bg-orange a { background: $orange; color: #fff; }
.bg-deep-orange, .bg-deep-orange a { background: $deep-orange; color: #fff; }
.bg-brown, .bg-brown a { background: $brown; color: #fff; }
.bg-grey, .bg-grey a { background: $grey; color: #fff; }
.bg-blue-grey, .bg-blue-grey a { background: $blue-grey; color: #fff; }
.bg-black, .bg-black a { background: $black; color: #fff; }
.bg-almost-black, .bg-almost-black a { background: $almost-black; color: #fff; }

