.round-1 { border-radius: 1px; }
.round-2 { border-radius: 2px; }
.round-3 { border-radius: 3px; }
.round-4 { border-radius: 4px; }
.round-5 { border-radius: 5px; }
.round-10 { border-radius: 10px; }

/* https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d */
.depth-0 { box-shadow: none; }
.depth-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
.depth-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.depth-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
.depth-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.depth-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }

.subtle { opacity: 0.5; }

.inner-seamless { padding: 0; }
.outer-seamless { margin: 0; }

.subtle-bg { background: rgba(0, 0, 0, 0.05); }

.no-bg { background: none; }
.white-bg { background: var(--white); }
.red-bg { background: var(--red); }
.pink-bg { background: var(--pink); }
.purple-bg { background: var(--purple); }
.deep-purple-bg { background: var(--deep-purple); }
.indigo-bg { background: var(--indigo); }
.blue-bg { background: var(--blue); }
.light-blue-bg { background: var(--light-blue); }
.cyan-bg { background: var(--cyan); }
.teal-bg { background: var(--teal); }
.green-bg { background: var(--green); }
.light-green-bg { background: var(--light-green); }
.lime-bg { background: var(--lime); }
.yellow-bg { background: var(--yellow); }
.amber-bg { background: var(--amber); }
.orange-bg { background: var(--orange); }
.deep-orange-bg { background: var(--deep-orange); }
.brown-bg { background: var(--brown); }
.grey-bg { background: var(--grey); }
.blue-grey-bg { background: var(--blue-grey); }

.full-width { width: 100%; }

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
}