/* https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d */
.depth-0 { box-shadow: none; }
.depth-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
.depth-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.depth-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }
.depth-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.depth-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }

.round-1 { border-radius: 1px; }
.round-2 { border-radius: 2px; }
.round-3 { border-radius: 3px; }
.round-4 { border-radius: 4px; }
.round-5 { border-radius: 5px; }
.round-10 { border-radius: 10px; }
.round { border-radius: 100%; }

.inner-seamless { padding: 0; }
.outer-seamless { margin: 0; }

.subtle { opacity: 0.5; }
.full-width { width: 100%; }

.uppercase { text-transform: uppercase; }

@media screen and (min-width: 568px) {
  .s-padding { padding: 0.5em; }
  .m-padding { padding: 1em; }
  .l-padding { padding: 1.5em; }

  .s-margin { margin: 0.5em; }
  .m-margin { margin: 1em; }
  .l-margin { margin: 1.5em; }
}

.s-padding { padding: 0.25em; }
.m-padding { padding: 0.5em; }
.l-padding { padding: 0.75em; }

.s-margin { margin: 0.25em; }
.m-margin { margin: 0.5em; }
.l-margin { margin: 0.75em; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.hidden { display: none; }

.bg-no { background: none; }
.bg-subtle { background: $subtle; }
.bg-white { background: $white;}
.bg-red { background: $red; }
.bg-pink { background: $pink; }
.bg-purple { background: $purple; }
.bg-deep-purple { background: $deep-purple; }
.bg-indigo { background: $indigo; }
.bg-blue { background: $blue; }
.bg-light-blue { background: $light-blue; }
.bg-cyan { background: $cyan; }
.bg-teal { background: $teal; }
.bg-green { background: $green; }
.bg-light-green { background: $light-green; }
.bg-lime { background: $lime; }
.bg-yellow { background: $yellow; }
.bg-amber { background: $amber; }
.bg-orange { background: $orange; }
.bg-deep-orange { background: $deep-orange; }
.bg-brown { background: $brown; }
.bg-grey { background: $grey; }
.bg-blue-grey { background: $blue-grey; }

&[class*='bg-'] {
  color: #fff;
}

.bg-subtle, .bg-white { color: #000; }